.Auth-form-container {
  background: linear-gradient(-45deg, #c5c5c5, #7b7a7a, #525252, #303030);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 25rem;
  height: 30rem;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
}

.Auth-form-content {
  padding-left: 18%;
  padding-right: 18%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 3em;
  font-size: 24px;
  color: rgb(156, 154, 154);
  font-weight: 600;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(181, 181, 181);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #676565 0%,
    #274046 51%,
    #676565 100%
  );
  padding: 15px 20px;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  font-weight: 550;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.form-control {
  background-color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgb(181, 181, 181);
  color: rgb(181, 181, 181);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.form-control:focus {
  background-color: rgb(0, 0, 0);
  border: none;
  border-bottom: 2px solid rgb(181, 181, 181);
  color: rgb(181, 181, 181);
  font-size: 14px;
  font-weight: 650;
  margin-bottom: 1.5em;
  box-shadow: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
