.Auth-form-container {
  background: linear-gradient(-45deg, #496b73, #274046, #1d3035);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 50%;
  padding: 32px;
  margin: auto;
  min-width: 330px;
  max-width: 500px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  border-radius: 8px;
  padding: 8px;
  color: rgb(181, 181, 181);
}
