.nav-link {
  text-decoration: none;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link:hover:after {
  width: 100%;
}

.menu-item:hover {
  color: #ff3c78;
}
